<section>
  <div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">WeatherMap App</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Search any address or click anywhere on the map to see what the weather-forecast in the area</p>
      <div class="row justify-content-around align-items-center">
        <div class="col-8">
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
        </div>
        <div class="col-4">
          <button type="button" class="btn btn-primary px-4">Search</button>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div id="map"></div>
  </div>
</section>
